.adaptive-bg, .pic-bg, .img-bg {
    background-color: beige;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



